target/
.targets/

# sbt-slamdata common resources
/scripts/bumpDependentProject
/scripts/checkAndAutoMerge
/scripts/commonSetup
/credentials.bintray.enc
/credentials.sonatype.enc
/scripts/discordTravisPost
/scripts/isRevision
/scripts/listLabels
/scripts/closePR
/pgppassphrase.sbt.enc
/scripts/publishAndTag
/pubring.pgp.enc
/scripts/readVersion
/scripts/gbq-enc-private.key
/scripts/keyfile.txt
/secring.pgp.enc
/keyfile
/core/src/test/resources/precog-ci-275718-e913743ebfeb.json
